body{
    font-family: 'Lato',sans-serif;
    height:100%;
    font-size:15px;

}
html{
    height:100%;
}
   
a{
    color: midnightblue;
    text-decoration:none;
}
section{
   
    display: flex;
    align-items: center;
    -ms-flex-align:center;
    justify-content: center;
    height:100%;
}
.home{
    width:82%;
    height:500px;
    background: #ffffff;
}
.photo{
    position: relative;
    background: url(resimler/mert2.jpeg);
    background-size:cover;
    
    width: 500px;
    height:500px;
    float:left;
}
.decs{
    position: absolute;
    bottom: 0;
    width: 100%;
    color:#ffffff;
    background:-moz-linear-gradient(top,rgba(125,185,232,0)
    0%,rgba(0,0,0,1) 100%);

    background:-webkit-linear-gradient(top,rgba(125,185,232,0)
    0%,rgba(0,0,0,1)100%);

    background:linear-gradient(to bottom,rgba(125,185,232,0)
    0%,rgba(0,0,0,1)100%);
}
.cdesc{
    padding-right:400px;
    font-weight: 700;
    color:darkblue;
}
.content{
    width:calc(100%-300px);
    position:relative;
    float:left;
}
.menu{
    color:#f6f6f6;
}
ul{
    margin:0;
    padding:0;
    font-weight:600;
}
ul>li{
    display:inline-block;
    line-height:2.5;
    padding:3px 15px;
    text-transform: uppercase;
}
li:hover{
    background:#03a9f4;
}
li:hover>a{
    color:#ffffff
}
.text{
    columns: #757575;
    font-style: italic;
    display: inline-block;
}
.cpadding{
    padding:10px
}
.signature{
    background:url(resimler/mert3.jpeg);
    position:relative;
    margin: 0px 150px -5px auto;
    width: 400px;
    height: 360px;
    background-size: cover;
}
.box{
    background: #f6f6f6;
    border-radius:4px;
    border-left:5px solid;
    padding:5px;
}
.container{
    background:url(resimler/mert1.jpeg);
    width:100%;
    height:1200px;
    float: left;
    background-color:bisque;
}
.header{
    font-weight: 800;
}
.yazi{
    width:318px;
    font-size:20px;
    margin-bottom:10px;
    float: left;
    vertical-align: top;
    background-color: white;
    border-style: solid;
    border-color:#ffffff;
    
}
.foto{
    float: right ;
    margin-top: 0;
    font-weight: 400;
     background-color: white;
     border-style: solid;
     border-color:#ffffff;

}
.foto1{
    
    background:  url(resimler/futbol.jpg);
    width:300px;
    height:200px;
    
}
.foto2{
    background: url(resimler/müzik.jpg);
    width:300px;
    height:150px;
    background-size:contain;
   
}
.foto3{
   background: url(resimler/yüzme.jpg);
   width:300px;
   height:200px;
   background-size: contain;
   
}
.i-container{
    background-color:rgb(205, 249, 255);
    

}
.i-sag{width:700px;
      font-size: 18px;
      margin-top:10px;
      
}
.i-baslik{
    width:1500px;
    font-size:20px;
    margin-top:15px;
    font-weight: bolder;
}
.ad{
    width:300px;
    height:30px;
    border: 1px solid black;
    border-radius:3px;
}
.iletisim{
    margin-top:10px;
}
.mesaj{
    width:400px;
    height:200px;
}
.buton{

    width:100px;
    height:50px;
    border-radius:3px;
}
.sosyal img{
width:50px;
height:50px;
}
.sablon{
    width:740px;
    height:auto;
    margin:30px auto;
}
.logo{
    width:100px;
    height:100px;
    float:left;
    background:url(resimler/mert3.jpeg) no-repeat;
    background-size:100px;
    
}
.banner{
    width:630px;
    height:60px;
    float: left;
    margin:0 0 0 10px;
    background:#003466;
    border-radius: 10px;
    color: #ffffff;
    font:bold 15px tahoma;
    text-align: center;
    padding:40px 0 0 0;

}
.ö-menu{
    width:1500px;
    height:47px;
    margin:10px 0 0 0 ;
    background-color: #00468c;
}
.orta1{
    width: 740px;
    height:350px;
    float:left;
    margin:10px 0 10px 0;
    background-color:#016dd9;
    color: #ffffff;
}
.orta2{
    width:365px;
    height:240px;
    float:left;
    background:#4da6ff;
    color:black;
}
.orta3{
    width:365px;
    height:240px;
    float: left;
    margin:0 0 0 10px;
    background:#99cdff;
    color:black;
}

.alt{
    width:740px;
    height:90px;
    float: left;
    margin:10px 0 0 0;
    background:#bfeefe;
    border-radius:10px;
}
.ö-menu ul{
    margin:0;
    padding:0;
    list-style-type:none ;
}
.ö-menu ul li{
    float:left;
    
}
.ö-menu ul li a{
    display:block;
    width:145px;
    height:32px;
    text-decoration: none;
    text-align: center;
    font:13px tahoma;
    color:#ffffff;
    padding:15px 0 0 0;
}
.ö-menu ul li a:hover{
    text-decoration:underline;
    background: #06f;
}
.m-menu{
    width:1500px;
    height:47px;
    margin:10px 0 0 0 ;
    background-color: rgb(41, 128, 0);
}
.m-menu ul{
    margin:0;
    padding:0;
    list-style-type:none ;
}
.m-menu ul li{
    float:left;
    
}
.m-menu ul li a{
    display:block;
    width:145px;
    height:32px;
    text-decoration: none;
    text-align: center;
    font:13px tahoma;
    color:#ffffff;
    padding:15px 0 0 0;
}
.m-logo img{
    margin-top: 0px;
    width:680px;
    height:400px;
}
.m-yazi{
float: right;
width:800px;
}
.ş-menu{
    top:0px;
    width:1520px;
    height:47px;
    margin:0 0  0 ;
    background-color: rgba(250, 81, 63,200);
}
.ş-menu ul{
    margin:0;
    padding:0;
    list-style-type:none ;
}
.ş-menu ul li{
    float:left;
    
}
.ş-menu ul li a{
    display:block;
    width:180px;
    height:32px;
    text-decoration: none;
    text-align: center;
    font:13px tahoma;
    color:black;
    font-weight: 700;
    padding:15px 0 0 0;
}
.prosesbar{
    width:0px;
    height:5px;
    background:orange;
    top: 0px;
    left:0px;
    z-index: 99px;
}
.slideralan{
    padding:0px;
    margin:0px;
    width:100%;
    height:100%;
    
    overflow: hidden;
}
.kapla{
    width:100%;
    height:50%;
    position: relative;
    
}
.ilerleyen{
    height:100%;
    min-width:50%;
   position: absolute;
    top: 0px;
    left:0px;
}
.donen{
    width:100%;
    height:100%;
    float:left;
}
.donen img{
    width:100%;
    height:50%;
}
a.ileri{
    text-decoration:none;
    position: absolute;
    top:50%;
    height:50px;
    margin-top:-200px;
    background:rgb(255, 102, 0);
    color: #ffffff;
    font-weight: bold;
    right:0px;
    z-index:99;
    line-height:50px;
    padding:0px 20px;
    display: block;
    border-radius:100%;
}
a.geri{
    text-decoration: none;
    position: absolute;
    top:50%;
    height:50px;
    margin-top:-200px;
    background:rgb(255, 102, 0);
    color: #ffffff;
    font-weight: bold;
    left:0px;
    z-index:99;
    line-height:50px;
    padding:0px 20px;
    display: block;
    border-radius:100px;
}
.ş-baslık{
    text-align: center;
    font-size: x-large;
    font-style: italic;

}
.ş-yazi{
 
 margin-top:-350px;
 width:100%;
 font-size:medium;
 font-weight: 600;
 font-style: italic;
 
}
.ş-yazi h2{ 
    text-align: center;
}
.video{
    text-align: center;
}
 .ş-yazi h3{
     font-style: normal;
     color: rgb(184, 80, 11);
 }
 .ş-yazi h1{
     font-style: normal;
     
 }
 .ek-menu{
    top:0px;
    width:100%;
    height:47px;
    margin:0 0  0 ;
    background-color: rgba(250, 81, 63,200);
}
.ek-menu ul{
    margin:0;
    padding:0;
    list-style-type:none ;
}
.ek-menu ul li{
    float:left;
    
}
.ek-menu ul li a{
    display:block;
    width:180px;
    height:32px;
    text-decoration: none;
    text-align: center;
    font:13px tahoma;
    color:black;
    font-weight: 700;
    padding:15px 0 0 0;
}
 .ek-baslik{
     text-align: center;
     font-size: 40px;
     margin-top:-30px;
     
 }
 .ek-yazi{
     text-align: center;
     font-size: 30px;
 }
 .ek-foto{
     text-align: center;
     margin-top:-40px;    
 }
 .ek-foto img{
     height:400px;
 }
 .ke-menu{
    top:0px;
    width:100%;
    height:47px;
    margin:0 0  0 ;
    background-color: rgba(250, 81, 63,200);
}
.ke-menu ul{
    margin:0;
    padding:0;
    list-style-type:none ;
}
.ke-menu ul li{
    float:left;
    
}
.ke-menu ul li a{
    display:block;
    width:180px;
    height:32px;
    text-decoration: none;
    text-align: center;
    font:13px tahoma;
    color:black;
    font-weight: 700;
    padding:15px 0 0 0;
}
 .ke-baslik{
     text-align: center;
     font-size: 40px;
     
 }
 .ke-yazi{
     text-align: center;
     font-size: 30px;
 }
 .ke-foto{
     text-align: center;
     margin-top:-40px;
     
 }
 .gi-menu{
    top:0px;
    width:100%;
    height:47px;
    margin:0 0  0 ;
    background-color: rgba(250, 81, 63,200);
}
.gi-menu ul{
    margin:0;
    padding:0;
    list-style-type:none ;
}
.gi-menu ul li{
    float:left;
    
}
.gi-menu ul li a{
    display:block;
    width:180px;
    height:32px;
    text-decoration: none;
    text-align: center;
    font:13px tahoma;
    color:black;
    font-weight: 700;
    padding:15px 0 0 0;
}
 .gi-baslik{
     text-align: center;
     font-size: 40px;
     
 }
 .gi-yazi{
     text-align: center;
     font-size: 30px;
 }
 .gi-foto{
     text-align: center;
     margin-top:-40px;
 }
 .er-menu{
    top:0px;
    width:100%;
    height:47px;
    margin:0 0  0 ;
    background-color: rgba(250, 81, 63,200);
}
.er-menu ul{
    margin:0;
    padding:0;
    list-style-type:none ;
}
.er-menu ul li{
    float:left;
    
}
.er-menu ul li a{
    display:block;
    width:180px;
    height:32px;
    text-decoration: none;
    text-align: center;
    font:13px tahoma;
    color:black;
    font-weight: 700;
    padding:15px 0 0 0;
}
 .er-baslik{
     text-align: center;
     font-size: 40px;
     
 }
 .er-yazi{
     text-align: center;
     font-size: 30px;
 }
 .er-foto{
     text-align: center;
     margin-top:-40px;
 }
 input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  
  l-button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  
  l-button:hover {
    opacity: 0.8;
  }
  
  
  .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
  }
  
  
  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
  }
  
  
  img.avatar {
    width: 15%;
    border-radius: 50%;
  }
  
  
  .l-container {
    padding: 16px;
    
  }
  
  
  span.psw {
    float: right;
    padding-top: 16px;
  }
  

  @media screen and (max-width: 300px) {
    span.psw {
      display: block;
      float: none;
    }
    .cancelbtn {
      width: 100%;
      font-size: 100%;
    }
  }
  .l-menu{
    top:0px;
    width:1520px;
    height:47px;
    margin:0 0  0 ;
    background-color: rgba(250, 181, 63,200);
}
.l-menu ul{
    margin:0;
    padding:0;
    list-style-type:none ;
}
.l-menu ul li{
    float:left;
    
}
.l-menu ul li a{
    display:block;
    width:180px;
    height:32px;
    text-decoration: none;
    text-align: center;
    font:13px tahoma;
    color:black;
    font-weight: 700;
    padding:15px 0 0 0;
}
.l-container{
    background-color: rgb(255, 153, 0);
}
.s-btn {
 background-color: tomato;
 font-size: medium;
}

    


